<form method="post" action="{{ path('cool_stuff_delete', {'id': cool_stuff.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cool_stuff.id) }}">
    <button class="btn">Delete</button>
</form>